In [17]:
import pandas as pd

# Reading CSV file from train set
# We drop all the values, but use the Close price
path = "/Users/frantisek.grossmann/Desktop/Sets/crypto_data/LTC-USD.csv"
df = pd.read_csv(path,names=['Time', 'Low', 'High', 'Open', 'Close', 'Volume'])
df['Time'] = pd.to_datetime(df['Time'],unit="s")
df.head()

                 Time        Low       High       Open      Close      Volume
0 2018-06-14 09:31:00  96.580002  96.589996  96.589996  96.580002    9.647200
1 2018-06-14 09:32:00  96.449997  96.669998  96.589996  96.660004  314.387024
2 2018-06-14 09:33:00  96.470001  96.570000  96.570000  96.570000   77.129799
3 2018-06-14 09:34:00  96.449997  96.570000  96.570000  96.500000    7.216067
4 2018-06-14 09:35:00  96.279999  96.540001  96.500000  96.389999  524.539978